
.navbar-container{
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.navbody {
    display: flex;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .logo {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 70%;
  }
  .Navbar {
    background-color: #FFFFFF;
    padding: 20px;
  }
  
  .contuct-us {
    flex: 1;
    padding: 20px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .lists {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    list-style: none;
    margin: 0 20px;
    padding: 0 0px;
    white-space: nowrap;
  }
  
  .link {
    color: #0d1335;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
    flex-wrap: wrap;
  }
  
  .link:hover {
    color: #1e37c8;
  }
 
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--dark, #16205F);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid var(--dark, #16205F);
    box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.12);    transition: all 0.3s ease;
    white-space: nowrap; 
    padding: 10px;
    width: 189px;
    height: 41px;
    flex-shrink: 0;
  }
  /* for text */
  .Button {
    
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
  }
  .contuct{
    background-color: #FFFFFF;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .lists.contuct {
    display: flex;
    justify-content: center;
  }
  
