.spec-container{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
.specialized-container {
    padding: 4% 10%;
  }
  .specialized-h2 {
    color: #001D84;
    font-size: 46px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 58px;
    height: auto;
  }
  
  .specialized-h3 {
    color: #001D84;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 600;
  }
  
  .each-tech {
    display: flex;
    align-items: center;
    background: #FFF;
    margin-left: 10px;
    height: 93px;
    gap: 25px;
    border-radius: 12px;
    /* Shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  }
  
  .specialized-tech {
    margin-bottom: 28px; /* Adds space between items */
    margin-right: 2%; /* Adds space between items */
    border-radius: 12px;
    background-color: yellow;
    /* Shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  }
  
  .tech-description {
    color: #16205F;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    /* padding-left: 3px; */
    display: flex;
    /* width: 200px; */
    flex-direction: column;
    flex-shrink: 1;
  }
  
  .tech-lists {
    display: flex;
    padding: 10px 0px;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 93px;
    flex-shrink: 0;
    flex-direction: row;
  }
  
  .specialized-tech {
    flex-basis: 23%; /* Each item occupies approximately 23% of the container */
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .specialized-tech {
      flex-basis: 31%; /* Each item occupies approximately 31% of the container on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .specialized-tech {
      flex-basis: 48%; /* Each item occupies approximately 48% of the container on even smaller screens */
    }
  }
  
  .tech-img {
    padding-left: 3px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  